<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Sol Santiago</p>
        <p>Full Strack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>
                Estudiante universitario con excelentes habilidades analiticas, de gestion de proyectos y de trabajo en equipo. Estudio Ingenieria en Alimentos, pero siempre busco perfeccionarme en el mundo de la computacion.Tambien me considero una persona resolutiva, con  buen animo y capaz de resolver problemas facilmente.
            </p>
        </span>
    </div>
</div>

